<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout :: common_header}">
    <title>Midtrans Snap JAVA Springboot Demo</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main role="main" class="container" style="padding-top: 30px">
    <h2 class="mt-5">Midtrans SNAP Demo</h2>
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Sendal Karet Rumahan</h6>
                        <small class="text-muted">Ukuran 7</small>
                    </div>
                    <span class="text-muted">Rp.15.0000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Mantel Hujan</h6>
                        <small class="text-muted">Ukuran XL</small>
                    </div>
                    <span class="text-muted">Rp.200.000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Sarung Tangan Karet</h6>
                        <small class="text-muted">1Pack Isi 17Pcs</small>
                    </div>
                    <span class="text-muted">Rp.50.000</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (Rp)</span>
                    <strong>Rp.265.000</strong>
                </li>
            </ul>
            <hr class="mb-4">
            <h5 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your billing & Shipping address</span>
            </h5>
            <ul class="list-group">
                <div class="row">
                    <div class="col-md">
                        <label for="firstName">First name</label></br>
                        <h5><label id="firstName" th:text="${data.customer_details.first_name}"></label></h5>
                    </div>
                    <div class="col-md">
                        <label for="lastName">Last name</label></br>
                        <h5><label id="lastName" th:text="${data.customer_details.last_name}"></label></h5>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label></br>
                    <h5><label id="email" th:text="${data.customer_details.billing_address.email}"></label></h5>
                </div>

                <div class="mb-3">
                    <label for="address">Address</label></br>
                    <h5><label id="address" th:text="${data.customer_details.billing_address.address}"></label></h5>
                </div>
            </ul>

        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Custom Payment</h4>
            <hr class="mb-4">
            <form class="needs-validation" action="snap/check-out" method="post" novalidate>
                <div class="row">
                    <div class="container">
                        <label>Enable Payment : </label></br>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="credit_card"
                                                              checked> CC</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="mandiri_clickpay"
                                                              checked> Mandiri ClickPay</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="cimb_clicks" checked> CIMB
                            Click</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="bca_klikpay" checked> BCA
                            KlikPay</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="bri_epay" checked> BRI
                            ePay</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="echannel" checked> eChanel</label>

                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="mandiri_ecash" checked>
                            Mandiri eCash</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="permata_va" checked>
                            Permata VA</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="bca_va" checked>
                            BCA VA</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="bni_va" checked>
                            BNI VA</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="bri_va" checked>
                            BRI VA</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="other_va" checked>
                            Other VA</label>

                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="gopay" checked>
                            GoPay</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="shopeepay" checked>
                            ShopeePay</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="indomaret"
                                                              checked> Indomaret</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="alfamart" checked>
                            Alfamart</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="danamon_online" checked>
                            Danamon Online</label>
                        <label class="checkbox-inline"><input type="checkbox" name="enablePay" value="akulaku" checked> Akulaku</label>
                    </div>
                </div>
                <hr class="mb-4">
                <label>Type Snap : </label></br>
                <div class="radio">
                    <label><input type="radio" value="snap" name="snapType" checked> Snap PopUp</label>
                </div>
                <div class="radio">
                    <label><input type="radio" value="redirect" name="snapType"> Snap Redirect</label>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Check-out!</button>
            </form>
        </div>
    </div>
</main>

<div th:replace="~{layout :: body_bottom_scripts}"/>
</body>
</html>