.idea/*
.idea/uiDesigner.xml
.DS_Store
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
library/.DS_Store
library/src/.DS_Store
library/src/main/.DS_Store
library/src/main/java/.DS_Store
library/src/main/java/com/.DS_Store
library/src/main/java/com/midtrans/.DS_Store
library/target/classes/com/midtrans/api/ConfigBuilder.class
library/target/classes/com/midtrans/api/ConfigFactory.class
library/target/maven-archiver/pom.properties
library/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
library/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
library/target/mid-springboot-library-0.0.1.jar
library/target/test-classes/com/midtrans/java/ConfigsTest.class
library/target/test-classes/com/midtrans/java/ConfigTest.class
library/target/test-classes/com/midtrans/java/Constant.class
library/target/test-classes/META-INF/midtrans-java-library.kotlin_module
*.xml
*.DS_Store
