<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header -->
<header th:id="page-header">
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

        <a class="navbar-brand" target="_blank" href="https://midtrans.com"><img style="max-height: 25px;"
                                                                                 src="https://midtrans.com/assets/images/logo-midtrans-color.svg"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/snap">Snap Demo <span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/api/core-api" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Core API
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/api/core-api">Demo Transaction</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://docs.midtrans.com">Docs</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</html>