<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
    <title>Midtrans API Intergration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>
<div th:replace="~{fragments/header}"></div>

<!-- Begin page content -->
<main role="main" class="container" style="padding-top: 30px">
    <div class="jumbotron">
        <h2>Iris Disbursement</h2>
        <h5>Current Balance</h5>
        <h1><td>Rp. <span th:text="${#numbers.formatDecimal(balance, 0, 'COMMA', 0, 'POINT')}">,-</span></td></h1>
    </div>

    <h3>Transaction History : <span th:text="${fromDate}"></span> - <span th:text="${toDate}"></span></h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                <tr class="headings">
                    <th th:each="header: ${headers}" class="column-title" th:text="${header}" />
                </tr>
                </tr>
            </thead>
            <tbody>
                <tr class="even pointer" th:each="row: ${rows}" id="tablerow">
                    <td th:each="header: ${headers}" th:text="${row.get(header)}" />
                </tr>
            </tbody>
        </table>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>