<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header">
    <title>Midtrans API Intergration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
  </style>
</head>
<body>
<div th:replace="~{fragments/header}"></div>

<!-- Begin page content -->
<main role="main" class="container" style="padding-top: 30px">
    <div class="container">
        <h2 class="mt-5">Midtrans Java Library Demo</h2>
        <p class="lead">This is java springboot demo app to consume Midtrans API with Midtrans Java Library.</p>
        <p>Please, read <a target="_blank" href="http://docs.midtrans.com">Midtrans Docs</a> if you need details
            documentation.
        </p>
        <a target="_blank" href="https://bintray.com/midtrans/midtrans-java/com.midtrans/_latestVersion"> <img src="https://api.bintray.com/packages/midtrans/midtrans-java/com.midtrans/images/download.svg"></a>
        <a target="_blank" href="https://travis-ci.org/Xaxxis/midtrans-java"> <img src="https://travis-ci.org/Xaxxis/midtrans-java.svg?branch=master"></a>
        <a target="_blank" href="https://github.com/Midtrans/midtrans-java"> <img src="https://img.shields.io/badge/Go%20to-GitHub%20project-blue?style=flat"></a>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>